
body{
    background-color: black;
}

h1{
    color: rgb(252, 192, 18);
    text-align: center;
}

h2{
    color: rgb(252, 192, 18);
    text-align: center;
    
}

p{
    color:white;
    border-radius: 20px;
}


ul{
    color:white;
    align-items: center;
    text-align: center;
    background-color: rgb(252, 192, 18);
    border-radius: 20px;
}

.ul1{
    background-color: aliceblue;
    
}

.p1{
    color:black;
    background-color: white;
}


form {
    width:  70%;
    margin: auto;
}

.box{
    background-color: rgb(252, 192, 18);
    width:50%;
    height:380px;
    margin: 60%;
    border-radius: 25px;
    margin-top:150px;
    padding-top:50px;
}

label{
    color:white;
}

small{
    color:white;
}

.label{
    color:white;
}

.box2{
    background-color: rgb(252, 192, 18);
    width: 60%;
    height:400px;
    margin:auto;
    margin-top: 10px;
    border-radius: 25px;
}

.box3{
    background-color: rgb(252, 192, 18);
    width:40%;
    height:150;
}

.box4{
    
    width:30%;
    height:150px;
}

col{
    padding-top: 20px;
    margin-left: 20px;
}

